<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>

</head>
<body>
<div th:insert="fragments/header :: modelheader"></div>
<div class="container boxgeral" id="container-3">
    <h1 class="info-page">Consultar</h1><br><br>
    <div class="list-group">
        <a href="clientes/list" class="list-group-item list-group-item-action">Consultar Clientes</a>
        <a href="produtos/listar" class="list-group-item list-group-item-action">Consultar Produtos</a>
    </div>
</div>
<style>
    #container-3{
        width: 800px;
        position: absolute;
        left: 30%;
        top: 15%
    }
    .rodape{
        position: fixed;
        top: 95%;
        width: 100%;
        text-align: center;
    }
</style>
<div th:insert="fragments/footer :: modelfooter" class="rodape"></div>
</body>
</html>