<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body >
<div th:insert="fragments/header :: modelheader"></div>
<div class="container" id="container-3">
<!--CATALOGO DE PRODUTOS
<div class="catalogo">
    <h3 class="home flow-text">Catalogo de produtos</h3>
    <table class="table table-bordered ">
    <thead>
    <tr>
        <th>Id</th>
        <th>Produto</th>
        <th>Valor</th>
        <th>Quantidade</th>
    </tr><br>
    </thead>
    <tbody>
    <tr th:each="p : ${produto}">
        <td th:text="${p.idProduto}"> </td>
        <td th:text="${p.descricao}"> </td>
        <td th:text="'R$: ' +${p.valor}"> </td>
        <td>
            <input type="hidden" th:value="${p.descricao}">
            <input type="hidden" th:value="${p.valor}">
            <form th:action="@{/vendas/add}" th:object="${itemVenda}" method="post">
                <input th:value="${p.idProduto}" th:name="produto.idProduto" type="hidden">
                <input type="number"  min='0' class="qtd" required th:field="*{quantidade}">
                <input type="submit" class="btn btn-info" value="+">
                <!--ERROR
                <div th:class="${!#strings.isEmpty(erroQtd)}?${'alert alert-danger d-flex'}">
                    <span th:text="${!#strings.isEmpty(erroQtd)}?${erroQtd}"></span>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
    </table><br>
</div>-->
<!--CARRINHO DE COMPRAS-->
<div class="carrinho">
    <h1 class="info-page">Carrinho de compras</h1><br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i: ${session.venda.itemVenda}">
            <td th:text="${i.produto.idProduto}"> </td>
            <td th:text="${i.produto.descricao}"> </td>
            <td th:text="${i.quantidade}"> </td>
            <td th:text="'R$: ' +${#numbers.formatDecimal(i.TotalItem(), 1, 2)}"> </td>
            <td><a class="btn btn-danger" th:href="@{/vendas/remover/{id}(id=${i.produto.idProduto})}">x</a> </td>
        </tr>
        </tbody>

    </table>
    <br><br><br>
    <div id="total"><br>
    <label >TOTAL DA COMPRA: </label>
    <span th:text="'R$: ' +${session.venda.TotalVenda()}"></span><br>
        <br>
    </div><br>


    <!--FORM-->
<!--    <form  th:action="@{/vendas/save}" th:object="${clientePF}" method="post">-->
<!--        <p>Cliente:</p>-->
<!--        <select th:name="idCliente">-->
<!--            <option th:value= 0>-</option>-->
<!--            <option th:each="c : ${clientePF}" th:text="${c.nome}" th:value="${c.idCliente}"></option>-->
<!--        </select>-->
<!--        <input type="submit" class="btn btn-success finalizar btn-sm" value="Finalizar Compra">-->
<!--    </form>-->
    <form class="float-right" th:action="@{/vendas/save}" th:object="${venda}" method="post">
        <input type="hidden" th:value="${cliente}" th:name="venda.cliente" >

        <input role="button" class="btn btn-primary" type="submit" value="Finalizar Compra">
    </form>

    <!--Validacao da compra-->
    <div th:class="${!#strings.isEmpty(erroItem)}?${'alert alert-danger d-flex'}">
        <span th:text="${!#strings.isEmpty(erroItem)}?${erroItem}"></span>
    </div>
    <div th:class="${!#strings.isEmpty(erroCliente)}?${'alert alert-danger d-flex'}">
        <span th:text="${!#strings.isEmpty(erroCliente)}?${erroCliente}"></span>
    </div>
</div>
<br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</div>
<style>
    .qtd{
        max-width: 55px;
    }
    #total{
        background-color: black;
        color: white;
    }
    #container-3{
        width: 800px;
        position: absolute;
        left: 30%;
        top: 15%
    }
    .rodape{
        position: absolute;
        top: 99%;
        width: 100%;
        text-align: center;
    }
</style>
<div th:insert="fragments/footer :: modelfooter" class="rodape"></div>

</body>
</html>